HELP.md
/build/
/out/
/.gradle/
/.idea/
*.iml
gradlew
gradlew.bat
build.gradle
settings.gradle
gradle/
db/wiseSaying/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
/.idea/
/*.iml
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
